body {
	margin: 0;
	overflow: hidden;
}

#inicio {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
}

#pausa {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	display: none;
}

#perder {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	display: none;
}

#ganar {
	position: absolute;
	top: 50%;
	width: 100%;
	text-align: center;
	z-index: 100;
	color: white;
	background-color: black;
	font-family: 'Courier New', Courier, monospace;
	display: none;
}

#vida {
	position: absolute;
	top: 0%;
	width: 100%;
	text-align: center;
	background-color: rgba(12, 11, 11, 0.3);
	z-index: 100;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	display: block;
}

#enemigos {
	position: absolute;
	top: 90%;
	width: 10%;
	text-align: center;
	background-color: rgba(12, 11, 11, 0.3);
	z-index: 100;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	display: block;
}

#vida img {
	max-width: 30px;
}
